<nav>
    <div class="logo">
        DailyNeeds
    </div>

    <div class="nav-items">

        <!-- The Menu items -->
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Electonics</a></li>
        <li><a href="#">Grocery</a></li>
        <li><a href="#">HouseHolds</a></li>
    </div>

    <!-- Defining the search bars -->
    <div class="searchbar">
        <input type="text" placeholder="search">
        <div class="icon">
            <!-- <i class="fas fa-search"></i> -->
           <i class="fas fa-search"></i>
        </div>
        
    </div>
    <div>
        <span>
            <i class="fas fa-cart-plus fa-2x" style="color: white;"></i>
           </span>
    </div>

    <!-- Defining the login button -->
    <div class="licon">
        <li>
            <a href="#">
                <i class="fas fa-user-circle
                    fa-2x" style="color: white;">
                </i>
            </a>
        </li>
    </div>
</nav>